<div class="hero-unit">
 <h1>Oh hello, it's a home page!</h1>
<p>
	<p>
You've found something I'm trying to make by following
<%= link_to "One Month Rails", "http://onemonthrails.com"%>
application
</p>
<p>
	<p>
	<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
</p>
</div>